/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: consolas;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
section {
  position: relative;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out; /* see .hide */
}

/* overlay settings */
section.hide {
  opacity: 0;
}
body.noScroll {
  overflow: hidden;
}

/* Gradient background shift theme */
@keyframes gradientShift {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* text effects -------------------------------------------------------------------------------*/
h1 {
  font-size: 50px;
  font-weight: 1;
}
a {
  text-decoration: none;
}
/*
.hint span {
  font-size: 10px;
  margin: 10px;
  -webkit-text-fill-color: #f7f58d;
  color: #f7f58d;
  opacity: 0.5;
}
*/
h1,
span,
i {
  color: #f7f58d; /* fallback */
  background: -webkit-linear-gradient(
    45deg,
    #3c78d8,
    #1155cc,
    #06265b,
    #08152a
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
}
.pubTitle h1 {
  color: #f7f58d; /* fallback */
  background: -webkit-linear-gradient(
    45deg,
    #08152a,
    #06265b,
    #1155cc,
    #3c78d8
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
}

/* background effects -------------------------------------------------------------------------------*/
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(45deg, #08152a, #06265b, #1155cc, #3c78d8);
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
}
.pubSwiper .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  background: linear-gradient(45deg, #3c78d8, #1155cc, #06265b, #08152a);
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
}
#contactMeForm .formGroup .inputBox .line {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s ease-in-out;
  pointer-events: none;
  background: linear-gradient(45deg, #3c78d8, #1155cc, #06265b, #08152a);
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
}

/* music player --------------------------------------------------------------------------------------------*/
.mixtape {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 130px;
  height: 32px;
  overflow: hidden;
  transition: height 1.5s, width 1s, opacity 1.5s, color 1.7s;
  opacity: 0.2;
}
.mixtape:hover {
  width: 200px;
  height: 80px;
  opacity: 1;
}
.mixtape:hover.showTracks {
  height: 150px;
}

.mixtape:hover span,
.mixtape:hover i {
  -webkit-text-fill-color: #f7f58d;
  color: #f7f58d;
}

.currentTrack {
  max-height: 32px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.titleWrapper {
  font-size: 20px;
  margin: 5px;
  display: flex;
  height: 32px;
  width: 120px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.currentTrack .prev,
.next {
  font-size: 20px;
  font-weight: 100;
  margin: 5px;
}
.tracksWrapper {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 0;
  width: 130px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height 1s;
}
.tracksWrapper span {
  cursor: pointer;
  margin: 1.5px;
  transition: transform 10s;
}
.tracksWrapper span:hover {
  transform: translateX(-100%);
}
.tracksWrapper.showTracks {
  height: 70px;
}

.player {
  position: relative;
  display: flex;
  flex-direction: row;
}
.playBtn {
  font-size: 23px;
  font-weight: 100;
  margin: 5px;
}
.seekBar {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.trackTimestamp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 13px;
}

/* landing styling -------------------------------------------------------------------------------*/
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcome {
  text-align: center;
}
/*
.hint {
  text-align: center;
}
*/
.nav {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.nav a,
.formGroup a {
  position: relative;
  background: transparent;
  padding: 10px;
  margin: 5px;
  width: 240px;
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.nav a:before,
.formGroup a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #f7f58d;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}
.nav a:hover:before,
.formGroup a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: right;
}
.nav a:after,
.formGroup a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f7f58d;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.nav a:hover:after,
.formGroup a:hover:after {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}

/* about me styling -------------------------------------------------------------------------------*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; /* remove the weird scrollbar behavior */
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  position: relative;
  background: transparent;
  padding: 10px;
  margin: 50px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a:hover {
  z-index: 3;
}
.links a:before {
  content: "";
  pointer-events: none;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: #f7f58d;
  opacity: 0;
  font-weight: 500;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s, right 0.5s, opacity 0.3s;
}
.links a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
}
.links a.smallerLink:before {
  white-space: nowrap;
  font-size: 3em;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}
.aboutSwiper .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 670px;
}

.swiper-slide .aboutCard {
  position: relative;
  width: 350px;
  height: 215px;
  margin: 100px 100px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  border-radius: 5%;
}
.swiper-slide .aboutCard:hover {
  height: 520px;
  box-shadow: 0 0 10px #f7f58d;
}
.swiper-slide .aboutCard .imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 45px;
  border-radius: 5%;
  box-shadow: 0 0 13px black;
}
.swiper-slide .aboutCard .imgBox img {
  border-radius: 5%;
  max-width: 100%;
}
.swiper-slide .aboutCard .content {
  font-size: 14px;
  color: #f7f58d;
  text-shadow: 2px 2px 2px black;
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.swiper-slide .aboutCard:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -60px;
  transition-delay: 0.3s;
}
.swiper-slide .aboutCard .content h2 {
  text-align: center;
  margin: 10px;
}
.swiper-slide .aboutCard .content .contentHeader {
  margin: 8px 0;
  font-size: 18px;
}

/* make publications & contact section an overlay --------------------------------- */
.publications,
.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  transition: 1.5s ease-in-out;
}
.publications.show,
.contactMe.show {
  z-index: 1;
  opacity: 1;
}

/* publications styling -------------------------------------------------------------------------------------------- */
.pubSwiper {
  width: 85vw;
  height: 200px;
  margin-top: 200px;
}
.pubSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide .pubTitle {
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
}
.swiper-slide-active .pubTitle {
  top: 0;
  transform: translate(-50%, 0);
}
.swiper-slide-active .pubTitle h1 {
  -webkit-text-fill-color: #f7f58d;
  color: #f7f58d;
}

.swiper-slide .pubCard {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease-out 0s;
}
.swiper-slide-active .pubCard {
  opacity: 1;
  transition: 0.5s ease-in 1s;
}

.swiper-slide .pubCard .metaInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
}
.swiper-slide .pubCard .metaInfo .techStack {
  color: #f7f58d;
  font-size: 12px;
}
.swiper-slide .pubCard .metaInfo .pubLinks {
  display: flex;
  flex-direction: row;
}
.swiper-slide .pubCard .metaInfo .pubLinks a {
  font-size: 30px;
  margin: 0 10px;
}
.swiper-slide .pubCard .metaInfo .pubLinks i {
  -webkit-text-fill-color: #f7f58d;
  color: #f7f58d;
}
.swiper-slide .pubCard .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f58d;
  margin: 25px 15px;
}
.swiper-slide .pubCard .content p {
  margin: 2.5px 0;
}

/* contact form -------------------------------------------------------------------------------*/
.formWrapper {
  display: flex;
  justify-content: center;
  width: 500px;
  margin-top: 15px;
}
#contactMeForm {
  width: 80%;
  padding: 20px;
}

#contactMeForm .formGroup {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
#contactMeForm .formGroup .formControl {
  position: relative;
  width: 100%;
  transition: 0.5s ease-in-out;
}

#contactMeForm .formGroup .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
}

#contactMeForm .formGroup .inputBox input,
#contactMeForm .formGroup .inputBox.textBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  color: #f7f58d;
  z-index: 4;
}

#contactMeForm .formGroup .inputBox .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 24px;
  padding: 0 10px;
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

#contactMeForm .formGroup .inputBox.textBox {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
#contactMeForm .formGroup .inputBox.textBox textarea {
  height: 100%;
  resize: none;
}

#contactMeForm .formGroup .textBox .line {
  bottom: -8%;
}

#contactMeForm .formGroup a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
}

#contactMeForm .formGroup button {
  background: transparent;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

#contactMeForm .formGroup .inputBox input:focus + .placeholder,
#contactMeForm .formGroup .inputBox input:valid + .placeholder,
#contactMeForm .formGroup .inputBox textarea:focus + .placeholder,
#contactMeForm .formGroup .inputBox textarea:valid + .placeholder {
  top: -35px;
  left: -10px;
}
#contactMeForm .formGroup .inputBox input:focus ~ .line,
#contactMeForm .formGroup .inputBox input:valid ~ .line,
#contactMeForm .formGroup .inputBox textarea:focus ~ .line,
#contactMeForm .formGroup .inputBox textarea:valid ~ .line {
  height: 100%;
}

/* mobile specifications -------------------------------------------------------------------------------*/
@media only screen and (max-width: 992px), (max-height: 450px) {
  h1 {
    font-size: 30px;
  }
  .links a {
    margin: 50px 10px;
  }
  .links a:before {
    font-size: 2em;
  }
  .links a.smallerLink:before {
    font-size: 1em;
  }
  .nav a {
    width: 150px;
    height: 25px;
    font-size: 15px;
  }
  #about {
    height: 100%;
  }
  .swiper-slide-active .aboutCard {
    height: 520px;
    box-shadow: 0 0 10px #f7f58d;
  }
  .swiper-slide-active .aboutCard .content {
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 0.3s;
  }
  .swiper-slide .pubCard .metaInfo {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 50px;
    margin-bottom: 7px;
  }
  .swiper-slide .pubCard .metaInfo .techStack {
    margin-right: 10px;
    font-size: 9px;
  }
  .swiper-slide .pubCard .metaInfo .pubLinks a {
    margin: 0 5px;
    font-size: 15px;
  }
  .swiper-slide .pubCard .content {
    margin: 5px 10px;
    font-size: 12px;
    align-items: flex-start;
  }
  .formWrapper {
    width: 375px;
  }
}
